
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img cImg src="assets/taxi.png" height="30" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
   

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sigup
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
              <li><button (click)="signup('driver')">Driver</button></li>
              <li><button (click)="signup('cabAgency')">Cab Agency</button></li>
              <li><button (click)="signup('customer')">Customer</button></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
              <li><button (click)="login('driver')">Driver</button></li>
              <li><button (click)="login('cabAgency')">Cab Agency</button></li>
              <li><button (click)="login('customer')">Customer</button></li>
            </ul>
          </li>


        
        </ul>
     
      </div>
    </div>
  </nav> 


 
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to Cab Booking</h1>
      <p>Find the best cabs for your travel needs. Book with ease and convenience.</p>
    </div>
    <div class="col-md-6">
      <!-- Add an image or other visual elements to complement your content -->
      <img cImg src="assets/cab.png" width="200" >
    </div>
  </div>
</div>







<!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Signup
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><button (click)="signup('driver')">Driver</button></li>
      <li><button (click)="signup('cabAgency')">Cab Agency</button></li>
      <li><button (click)="signup('customer')">Customer</button></li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Login
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><button (click)="login('driver')">Driver</button></li>
      <li><button (click)="login('cabAgency')">Cab Agency</button></li>
      <li><button (click)="login('customer')">Customer</button></li>
    </ul>
  </div>

<button (click)="todriver()">Driver</button> -->