<p>driver works!</p>

<form id="form-driver">
   
    <label>Driver Id</label><br>
    <input type="text" name="id" id="id" [(ngModel)]="driver.driverId"><br>

    <label>Driver name</label><br>
    <input type="text" name="driverName" id="driverName" [(ngModel)]="driver.driverName"><br>

    <label>Driver Email</label><br>
    <input type="email" name="driverEmail" id="driverEmail" [(ngModel)]="driver.driverEmail"><br>

    <label>Driver Password</label><br>
    <input type="password" name="driverPassword" id="driverPassword" [(ngModel)]="driver.driverPassword"><br>

    <label>Driver driverMobileNumber</label><br>
    <input type="text" name="driverMobileNumber" id="driverMobileNumber" [(ngModel)]="driver.driverMobileNumber"><br>

    <label>Driver License Number</label><br>
    <input type="text" name="licenseNumber" id="licenseNumber" [(ngModel)]="driver.licenseNumber"><br>

    <label>Driver Vehicle Number</label><br>
    <input type="text" name="driverVehicleNumber" id="driverVehicleNumber" [(ngModel)]="driver.driverVehicleNumber"><br>


    <label>Driver AgencyName</label><br>
    <input type="text" name="driverAgencyName" id="driverAgencyName" [(ngModel)]="driver.driverAgencyName"><br>

    <label>Driver AgencyId</label><br>
    <input type="text" name="driverAgencyId" id="driverAgencyId" [(ngModel)]="driver.driverAgencyId"><br>





    <button (click)="driverSignup()">register now</button>
</form>

