

<div class="container-fluid">

  <div class="bg-light row ">
      <div class="col-8  ps-5 pt-4 ">
      <p class="text-start">{{customerId}}</p>
      </div>

      <div class="col   p-4 ps-5">
         <p class="text-end"><button class="text-brave"> Logout</button></p> 
      </div>

  </div>
  </div>

  <div *ngIf="!cabBookingPayment" class=" m-5 p-2 container overflow-hidden">
    <div class="row  gy-3">


      <div class="col bg.primary">
        <form>
         
         <label for="fromLocation">From Location: </label>
         <input type="text" name="fromLocation" id="fromLocation" [(ngModel)]="fromLocation">
     
         <label for="toLocation">To Location: </label>
         <input  type="text" name="toLocation" id="toLocation" [(ngModel)]="toLocation">
     
         <button (click)="searchByLoaction()">Search</button>
         
        </form>
     </div>
        
        
        
        
        
       
    </div>

</div> 

<div *ngIf="!cabBookingPayment">
  <div  *ngFor="let cab of cabs"> 
    <!-- *ngIf="!cabBookingPayment"  -->
    <div *ngIf="!currentCabBookingExist" class="border border-primary flex-column bd-highlight mb-1 ">
      <div class="p-2 bd-highlight">
        <p>Cab Number: {{ cab.vehicleNumber }}</p>
        <p>Cab Model: {{ cab.cabModel }}</p>
        <p>Number Of Seats: {{ cab.numberOfSeats }}  </p> 
        <p>Pickup Point: {{ cab.pickUpPoint }}</p>
        <p>Drop Point: {{ cab.dropPoint }}</p>
        <p>Fare:{{ cab.fair }}</p>
      </div>
      <button (click)="bookCabButtonClicked(cab)" class="ms-2 btn-group btn-group-sm">Book</button>
      
    </div>
    
    
  </div>
</div>



<div *ngIf="!cabBookingPayment">
  <div *ngFor="let cab of cabsByLocation" class="m-5 border border-primary flex-column bd-highlight mb-1 ">

    <div  class="p-2 bd-highlight">
      <p>Cab Vehicle Number: {{ cab.vehicleNumber }}</p>
      <p>Cab Model: {{cab.cabModel}}</p>
      <p>Number Of Seats: {{ cab.numberOfSeats }}  </p> 
      <p>Pickup Point: {{ cab.pickUpPoint }}</p>
      <p>Drop Point: {{cab.dropPoint }}</p>
      <p>Fare:{{  cab.fair }}</p>
      <button (click)="bookCabButtonClicked(cab)">Book Cab</button>
    </div>
    
    
  </div>
  
</div>



<div *ngIf="!cabBookingPayment">
  <div *ngFor="let cab of cabs" class="m-5 border border-primary flex-column bd-highlight mb-1 ">

    <div  class="p-2 bd-highlight">
      <p>Cab Id: {{ cab.cabId }}</p>
      <p>Cab Model: {{cab.cabModel}}</p>
      <p>Number Of Seats: {{ cab.numberOfSeats }}  </p> 
      <p>Pickup Point: {{ cab.pickUpPoint }}</p>
      <p>Drop Point: {{cab.dropPoint }}</p>
      <p>Fare:{{  cab.fair }}</p>
      <button (click)="bookCabButtonClicked(cab)">Book Cab</button>
    </div>
    
    
  </div>
</div>




<div class="mt-5 container">
  <div class=" row">
      <div class="col-4">

      </div>

      <div class="col-4">

        <div *ngIf="cabBookingPayment">
          <h4>Payment</h4>

          <label class="form-label" for="cabId">Cab Id</label>
          <input class="form-control" type="text" id="cabId" name="cabId" [value]="cabBookedId">
      
          <label class="form-label" for="cabVehicleNumber">Vehicle Number</label>
          <input   class="form-control" type="text" id="cabVehicleNumber" name="cabVehicleNumber" [value]="cabBookedvehicleNumber">
      
      
          <label class="form-label" for="cabAgencyName">Agency Name</label>
          <input  class="form-control" type="text" id="cabAgencyName" name="cabAgencyName" [value]="cabBookedCabAgencyName">
      
          <label class="form-label" for="cabPickUpLocation">Pickup Point</label>
          <input  class="form-control" type="text" id="cabPickUpLocation"  name="cabPickUpLocation" [value]="cabBookedPickUpPoint">
      
      
          <label class="form-label" for="cabDropLocation">Drop Point</label>
          <input  class="form-control" type="text" id="cabDropLocation"  name="cabDropLocation" [value]="cabBookedDropPoint">
      
          <label class="form-label" for="cabfare">Fare</label><br>
          <input  class="form-control" type="text" id="cabfare"  name="cabfare" [value]="cabBookedfair">
      
          <label class="form-label" for="bookingPayment">Payment Type</label>
          <input  class="form-control" type="text" id="paymentType" name="paymentType" [(ngModel)]="paymentType"><br>
      
          <button (click)="makePayment()">Pay</button>
      
      </div>
     
        
      </div>
  </div>
</div>


